header{
    color: white;
    text-align: center;
    text-decoration: underline;
}
main{
    text-align: center;
}
h2{
    color: white;
}
#start{
    padding-top: 0px;margin-top: 10px;
}
body{
    font-family: sans-serif;
    background-color: rgb(97, 124, 148);
}
h3{
    color: white;
}