header{
    color: rgb(201, 0, 0);
    text-align: center;
    text-decoration: underline;
}
main{
    text-align: center;
}
h2{
    color: white;
}
#start{
    padding-top: 0px;margin-top: 10px;
}
body{
    font-family: sans-serif;
    background-color: rgb(117, 140, 160);
}
h3{
    color: white;
}