header{
    color: rgb(201, 0, 0);
    text-align: center;
    text-decoration: underline;
}
h2{
    text-align: center;
    color: white;
}

h3{
    text-align: center;
    color: white;
}

#formtheme{
    text-align: center;
}

#start{
    padding-top: 0px;margin-top: 10px;
}

#timer{
    text-align: center;
}

body{
    font-family: sans-serif;
    background-color: rgb(117, 140, 160);
}